.poke-card {
  background-color: var(--color5);
  border: var(--color4) solid 15px;
  border-radius: 10px;
  color: var(--color1);
  cursor: default;
  height: 400px;
  margin: 10px;
  margin-top: 30px;
  padding: 5px;
  text-align: center;
  width: 300px;
}
.name {
  font-weight: 700;
  text-transform: capitalize;
}

.poke-card img {
  height: 160px;
  /* width: 190px; */
  /* border: var(--color4) solid 5px; */
}

.card-header {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.physical-stats {
  background-color: var(--color6);
  display: flex;
  font-size: 0.8em;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: capitalize;
}

.abilities {
  font-weight: 700;
  height: 150px;
  text-transform: capitalize;
}

.card-footer {
  display: flex;
  font-size: 0.8em;

  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 0.5em 0;
  padding: 0;
}

div {
  /* border: 1px red solid; */
}
