@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  --color1: #241e4e;
  --color2: #960200;
  --color3: #ce6b47f8;
  --color4: #ffd046;
  --color5: #eadaa2;
  background-color: var(--color1);
  color: var(--color5);
  font-family: 'Oswald', sans-serif;
}
